<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>544754377819-j1md0bsqgmk9s0hf2bm1umfb0563prsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544754377819-j1md0bsqgmk9s0hf2bm1umfb0563prsb</string>
	<key>API_KEY</key>
	<string>AIzaSyC-khjXXpOCYNkqujaWIITDX3yCtszUO5w</string>
	<key>GCM_SENDER_ID</key>
	<string>544754377819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rumblewayne.splitterML</string>
	<key>PROJECT_ID</key>
	<string>splitterml</string>
	<key>STORAGE_BUCKET</key>
	<string>splitterml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544754377819:ios:8d3fa24870ee07e8</string>
	<key>DATABASE_URL</key>
	<string>https://splitterml.firebaseio.com</string>
</dict>
</plist>